@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(235, 194, 145);
    font-family: sans-serif;
    font-size: 14px;

}

h1 {
    color: orangered;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: brown;
    font-size: 1.3em;
    font-weight: 900;
    text-decoration: underline;
}

h3 {
    color: indianred;
    font-size: 0.9em;
}

#pret-vechi {
    color: orangered;
    text-decoration: line-through;
    text-decoration-line: line-through;
    text-decoration-color: crimson;
    text-decoration-thickness: 3px;
    text-decoration-style: dotted;
}

.pret {
    font-size: 1.2em;
    color: darkgreen;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}

a {
    margin: 2em;
    border-style: double;
    padding: 1em;
    width: 190%;
    height: 5em;
}

p {
    display: inline;
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    color: rgb(160, 69, 42);
    text-decoration-style: dotted;
    text-decoration-line: underline;
    border-style: dotted;
    border-color: steelblue;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
    margin-top: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3em;
    width: 20em;
    height: 5em;
    background-color: orange;
    border-bottom-color: orange;


}

ul {
    font-family: sans-serif;
    font-size: 1.2em;
    list-style-type: '≻';
    list-style-image: url(≻);
}

.imagine {
    text-align: center;
}